DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/100acre?appName=Cluster0
JWT_SECRET_KEY=your_strong_random_jwt_secret_here_change_this
CLIENT_URL=http://localhost:5174
PORT=8800
NODE_ENV=development
